<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MRT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>
<body>
    <main>
        <h1 class="title">Заголовок</h1>
        <div class="forms">
            <form class="form" action="/run" method="post">
                <h2 class="form__title">Выберите объект исследования:</h2>
                <label class="radio">Стакан воды
                    <input type="radio" checked="checked" name="object" value="glassOfWater">
                    <span class="radio__mark"></span>
                </label>
                <label class="radio">Яблоко
                    <input type="radio" name="object" value="apple">
                    <span class="radio__mark"></span>
                </label>
                <label class="radio">Печень
                    <input type="radio" name="object" value="liver">
                    <span class="radio__mark"></span>
                </label>
                <label class="radio">Мозг
                    <input type="radio" name="object" value="brain">
                    <span class="radio__mark"></span>
                </label>



                <h2 class="form__title">Выберите тип градиента:</h2>
                <label class="radio">Змейка
                    <input type="radio" checked="checked" name="gradient" value="snake" >
                    <span class="radio__mark"></span>
                </label>
                <label class="radio">Круги
                    <input type="radio" name="gradient" value="circles">
                    <span class="radio__mark"></span>
                </label>
                <label class="radio">Спираль
                    <input type="radio" name="gradient" value="spiral">
                    <span class="radio__mark"></span>
                </label>
                <button class="" type="submit">Старт</button>
            </form>
        </div>




        <div class="button js-button">
            <button class="button__submit js-submit" type="submit">Старт</button>
        </div>
        <div class="loader js-loader is-hidden">
            <img src="./img/loader.svg" alt="Loader">
        </div>
        <div class="error js-error is-hidden">
            <img class="error__img" src="./img/error.svg" alt="">
            <span class="error__text">При загрузке данных произошла ошибка</span>
        </div>
        <div class="result js-result is-hidden">
            <div class="result__block">
                <h2 class="result__title">Визуализация К-пространства</h2>
                <img class="result__img" src="https://scientificrussia.ru/images/j/15hj-full.jpg" alt="Визуализация К-пространства">
            </div>
            <div class="result__block">
                <h2 class="result__title">Изображение результата</h2>
                <img class="result__img" src="https://scientificrussia.ru/images/j/15hj-full.jpg" alt="Изображение результата">
            </div>
        </div>
    </main>
    <script type="text/javascript" src="./scripts.js"></script>
</body>
</html>
