<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MRT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <main>
        <h1 class="title">Заголовок</h1>
        <div class="forms">
            <form class="form" action="/run_new" method="post">
                <h2 class="form__title">Выберите объект исследования:</h2>
                <label class="radio">Стакан воды (нет датасета, будет неверное вычисление)
                    {% if object == "glassOfWater" or object is not defined %}
                    <input type="radio" checked="checked" name="object" value="glassOfWater">
                    {% else %}
                    <input type="radio" name="object" value="glassOfWater">
                    {% endif %}
                    <span class="radio__mark"></span>
                </label>
                <label class="radio">Ананас
                    {% if object == "pine" %}
                    <input type="radio" checked="checked" name="object" value="pine">
                    {% else %}
                    <input type="radio" name="object" value="pine">
                    {% endif %}
                    <span class="radio__mark"></span>
                </label>
                <label class="radio">Лук
                  {% if object == "onion" %}
                  <input type="radio" checked="checked" name="object" value="onion">
                  {% else %}
                  <input type="radio" name="object" value="onion">
                  {% endif %}
                  <span class="radio__mark"></span>
                </label>
                <label class="radio">Мозг человека
                  {% if object == "brain" %}
                  <input type="radio" checked="checked" name="object" value="brain">
                  {% else %}
                  <input type="radio" name="object" value="brain">
                  {% endif %}
                  <span class="radio__mark"></span>
                </label>

                <h2 class="form__title">Выберите тип градиента:</h2>
                <label class="radio">Змейка
                    {% if gradient == "snake" or gradient is not defined %}
                    <input type="radio" checked="checked" name="gradient" value="snake" >
                    {% else %}
                    <input type="radio" name="gradient" value="snake" >
                    {% endif %}
                    <span class="radio__mark"></span>
                </label>
                <label class="radio">Круги
                    {% if gradient == "circles" %}
                    <input type="radio" checked="checked" name="gradient" value="circles" >
                    {% else %}
                    <input type="radio" name="gradient" value="circles" >
                    {% endif %}
                    <span class="radio__mark"></span>
                </label>
                <label class="radio">Спираль
                    {% if gradient == "spiral" %}
                    <input type="radio" checked="checked" name="gradient" value="spiral" >
                    {% else %}
                    <input type="radio" name="gradient" value="spiral" >
                    {% endif %}
                    <span class="radio__mark"></span>
                </label>
                <button class="" type="submit">Старт</button>
            </form>
        </div>

<h2>debug {{ array_size }}, {{ object }}, {{ gradient }}</h2>

        <div class="button js-button">
            <button class="button__submit js-submit" type="submit">Старт</button>
        </div>
        <div class="loader js-loader is-hidden">
            <img src="{{ url_for('static', filename='loader.svg') }}" alt="Loader">
        </div>
        <div class="error js-error is-hidden">
            <img class="error__img" src="{{ url_for('static', filename='error.svg') }} " alt="">
            <span class="error__text">При загрузке данных произошла ошибка</span>
        </div>
        <div class="result js-result is-hidden">
            <div class="result__block">
                <h2 class="result__title">Визуализация К-пространства</h2>
                <img class="result__img" src="https://scientificrussia.ru/images/j/15hj-full.jpg" alt="Визуализация К-пространства">
            </div>
            <div class="result__block">
                <h2 class="result__title">Изображение результата</h2>
                <img class="result__img" src="https://scientificrussia.ru/images/j/15hj-full.jpg" alt="Изображение результата">
            </div>
        </div>
    </main>
</body>
</html>
